VendorsPortal/NCIAVendor/Web References/NAVWS/VendorsPortal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="AddedCategory">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorVat" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AddedCategory_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckExistingRFQ">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tenderNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckExistingRFQ_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckValidVatNo">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vatNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckValidVatNo_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckValidVendorEmail">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckValidVendorEmail_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckValidVendorNo">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vATno" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckValidVendorNo_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckVendorLogin">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vATno" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckVendorLogin_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckVendorPasswordChanged">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vatNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckVendorPasswordChanged_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePrequalificationHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePrequalificationHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePrequalificationLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="category" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePrequalificationLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateRFQHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tenderNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateRFQHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DocumentAttachment">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="retNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fileName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="attachment" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tableId" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="DocumentAttachment_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="FileAttached">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorVat" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FileAttached_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="GenerateRFQReport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tenderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="filenameFromApp" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bigtext" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GenerateRFQReport_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bigtext" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetAppliedPrequalificationCategories">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="kraPin" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetAppliedPrequalificationCategories_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCategoryName">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="categoryCode" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCategoryName_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCategoryRequirements">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="category" type="string" />
            <element minOccurs="1" maxOccurs="1" name="vendorVat" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCategoryRequirements_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCurrentPrequalificationPeriod">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetCurrentPrequalificationPeriod_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetLastPrnNo">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetLastPrnNo_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMyQuoteLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bidNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMyQuoteLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMyQuotes">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMyQuotes_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetOpenTenderLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tenderNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetOpenTenderLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetOpenVendorTenders">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetOpenVendorTenders_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPrequalificationApplicationCategories">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="kraPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="period" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPrequalificationApplicationCategories_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPrequalificationApplications">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="kraPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPrequalificationApplications_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPrequalificationCategories">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetPrequalificationCategories_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetUnappliedPrequalificationCategories">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="kraPin" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetUnappliedPrequalificationCategories_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetVendorDetails">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetVendorDetails_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetVendorName">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetVendorName_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="InsertRFQLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tenderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bidNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quotedAmt" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="InsertRFQLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="LoginForChangedPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vatNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LoginForChangedPassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LoginForUnchangedPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vatNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LoginForUnchangedPassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="NotAllMandatoryDocumentsAttached">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorVat" type="string" />
            <element minOccurs="1" maxOccurs="1" name="category" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="NotAllMandatoryDocumentsAttached_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="PrequalificationApplied">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="kraPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="PrequalificationApplied_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="RFQApplied">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="tenderNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RFQApplied_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SubmitPrequalificationApplication">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="kRAPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SubmitPrequalificationApplication_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SubmitRFQ">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bidNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SubmitRFQ_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateVendorPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="genpass" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateVendorPassword_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <message name="AddedCategory">
    <part name="parameters" element="tns:AddedCategory" />
  </message>
  <message name="AddedCategory_Result">
    <part name="parameters" element="tns:AddedCategory_Result" />
  </message>
  <message name="CheckExistingRFQ">
    <part name="parameters" element="tns:CheckExistingRFQ" />
  </message>
  <message name="CheckExistingRFQ_Result">
    <part name="parameters" element="tns:CheckExistingRFQ_Result" />
  </message>
  <message name="CheckValidVatNo">
    <part name="parameters" element="tns:CheckValidVatNo" />
  </message>
  <message name="CheckValidVatNo_Result">
    <part name="parameters" element="tns:CheckValidVatNo_Result" />
  </message>
  <message name="CheckValidVendorEmail">
    <part name="parameters" element="tns:CheckValidVendorEmail" />
  </message>
  <message name="CheckValidVendorEmail_Result">
    <part name="parameters" element="tns:CheckValidVendorEmail_Result" />
  </message>
  <message name="CheckValidVendorNo">
    <part name="parameters" element="tns:CheckValidVendorNo" />
  </message>
  <message name="CheckValidVendorNo_Result">
    <part name="parameters" element="tns:CheckValidVendorNo_Result" />
  </message>
  <message name="CheckVendorLogin">
    <part name="parameters" element="tns:CheckVendorLogin" />
  </message>
  <message name="CheckVendorLogin_Result">
    <part name="parameters" element="tns:CheckVendorLogin_Result" />
  </message>
  <message name="CheckVendorPasswordChanged">
    <part name="parameters" element="tns:CheckVendorPasswordChanged" />
  </message>
  <message name="CheckVendorPasswordChanged_Result">
    <part name="parameters" element="tns:CheckVendorPasswordChanged_Result" />
  </message>
  <message name="CreatePrequalificationHeader">
    <part name="parameters" element="tns:CreatePrequalificationHeader" />
  </message>
  <message name="CreatePrequalificationHeader_Result">
    <part name="parameters" element="tns:CreatePrequalificationHeader_Result" />
  </message>
  <message name="CreatePrequalificationLine">
    <part name="parameters" element="tns:CreatePrequalificationLine" />
  </message>
  <message name="CreatePrequalificationLine_Result">
    <part name="parameters" element="tns:CreatePrequalificationLine_Result" />
  </message>
  <message name="CreateRFQHeader">
    <part name="parameters" element="tns:CreateRFQHeader" />
  </message>
  <message name="CreateRFQHeader_Result">
    <part name="parameters" element="tns:CreateRFQHeader_Result" />
  </message>
  <message name="DocumentAttachment">
    <part name="parameters" element="tns:DocumentAttachment" />
  </message>
  <message name="DocumentAttachment_Result">
    <part name="parameters" element="tns:DocumentAttachment_Result" />
  </message>
  <message name="FileAttached">
    <part name="parameters" element="tns:FileAttached" />
  </message>
  <message name="FileAttached_Result">
    <part name="parameters" element="tns:FileAttached_Result" />
  </message>
  <message name="GenerateRFQReport">
    <part name="parameters" element="tns:GenerateRFQReport" />
  </message>
  <message name="GenerateRFQReport_Result">
    <part name="parameters" element="tns:GenerateRFQReport_Result" />
  </message>
  <message name="GetAppliedPrequalificationCategories">
    <part name="parameters" element="tns:GetAppliedPrequalificationCategories" />
  </message>
  <message name="GetAppliedPrequalificationCategories_Result">
    <part name="parameters" element="tns:GetAppliedPrequalificationCategories_Result" />
  </message>
  <message name="GetCategoryName">
    <part name="parameters" element="tns:GetCategoryName" />
  </message>
  <message name="GetCategoryName_Result">
    <part name="parameters" element="tns:GetCategoryName_Result" />
  </message>
  <message name="GetCategoryRequirements">
    <part name="parameters" element="tns:GetCategoryRequirements" />
  </message>
  <message name="GetCategoryRequirements_Result">
    <part name="parameters" element="tns:GetCategoryRequirements_Result" />
  </message>
  <message name="GetCurrentPrequalificationPeriod">
    <part name="parameters" element="tns:GetCurrentPrequalificationPeriod" />
  </message>
  <message name="GetCurrentPrequalificationPeriod_Result">
    <part name="parameters" element="tns:GetCurrentPrequalificationPeriod_Result" />
  </message>
  <message name="GetLastPrnNo">
    <part name="parameters" element="tns:GetLastPrnNo" />
  </message>
  <message name="GetLastPrnNo_Result">
    <part name="parameters" element="tns:GetLastPrnNo_Result" />
  </message>
  <message name="GetMyQuoteLines">
    <part name="parameters" element="tns:GetMyQuoteLines" />
  </message>
  <message name="GetMyQuoteLines_Result">
    <part name="parameters" element="tns:GetMyQuoteLines_Result" />
  </message>
  <message name="GetMyQuotes">
    <part name="parameters" element="tns:GetMyQuotes" />
  </message>
  <message name="GetMyQuotes_Result">
    <part name="parameters" element="tns:GetMyQuotes_Result" />
  </message>
  <message name="GetOpenTenderLines">
    <part name="parameters" element="tns:GetOpenTenderLines" />
  </message>
  <message name="GetOpenTenderLines_Result">
    <part name="parameters" element="tns:GetOpenTenderLines_Result" />
  </message>
  <message name="GetOpenVendorTenders">
    <part name="parameters" element="tns:GetOpenVendorTenders" />
  </message>
  <message name="GetOpenVendorTenders_Result">
    <part name="parameters" element="tns:GetOpenVendorTenders_Result" />
  </message>
  <message name="GetPrequalificationApplicationCategories">
    <part name="parameters" element="tns:GetPrequalificationApplicationCategories" />
  </message>
  <message name="GetPrequalificationApplicationCategories_Result">
    <part name="parameters" element="tns:GetPrequalificationApplicationCategories_Result" />
  </message>
  <message name="GetPrequalificationApplications">
    <part name="parameters" element="tns:GetPrequalificationApplications" />
  </message>
  <message name="GetPrequalificationApplications_Result">
    <part name="parameters" element="tns:GetPrequalificationApplications_Result" />
  </message>
  <message name="GetPrequalificationCategories">
    <part name="parameters" element="tns:GetPrequalificationCategories" />
  </message>
  <message name="GetPrequalificationCategories_Result">
    <part name="parameters" element="tns:GetPrequalificationCategories_Result" />
  </message>
  <message name="GetUnappliedPrequalificationCategories">
    <part name="parameters" element="tns:GetUnappliedPrequalificationCategories" />
  </message>
  <message name="GetUnappliedPrequalificationCategories_Result">
    <part name="parameters" element="tns:GetUnappliedPrequalificationCategories_Result" />
  </message>
  <message name="GetVendorDetails">
    <part name="parameters" element="tns:GetVendorDetails" />
  </message>
  <message name="GetVendorDetails_Result">
    <part name="parameters" element="tns:GetVendorDetails_Result" />
  </message>
  <message name="GetVendorName">
    <part name="parameters" element="tns:GetVendorName" />
  </message>
  <message name="GetVendorName_Result">
    <part name="parameters" element="tns:GetVendorName_Result" />
  </message>
  <message name="InsertRFQLines">
    <part name="parameters" element="tns:InsertRFQLines" />
  </message>
  <message name="InsertRFQLines_Result">
    <part name="parameters" element="tns:InsertRFQLines_Result" />
  </message>
  <message name="LoginForChangedPassword">
    <part name="parameters" element="tns:LoginForChangedPassword" />
  </message>
  <message name="LoginForChangedPassword_Result">
    <part name="parameters" element="tns:LoginForChangedPassword_Result" />
  </message>
  <message name="LoginForUnchangedPassword">
    <part name="parameters" element="tns:LoginForUnchangedPassword" />
  </message>
  <message name="LoginForUnchangedPassword_Result">
    <part name="parameters" element="tns:LoginForUnchangedPassword_Result" />
  </message>
  <message name="NotAllMandatoryDocumentsAttached">
    <part name="parameters" element="tns:NotAllMandatoryDocumentsAttached" />
  </message>
  <message name="NotAllMandatoryDocumentsAttached_Result">
    <part name="parameters" element="tns:NotAllMandatoryDocumentsAttached_Result" />
  </message>
  <message name="PrequalificationApplied">
    <part name="parameters" element="tns:PrequalificationApplied" />
  </message>
  <message name="PrequalificationApplied_Result">
    <part name="parameters" element="tns:PrequalificationApplied_Result" />
  </message>
  <message name="RFQApplied">
    <part name="parameters" element="tns:RFQApplied" />
  </message>
  <message name="RFQApplied_Result">
    <part name="parameters" element="tns:RFQApplied_Result" />
  </message>
  <message name="SubmitPrequalificationApplication">
    <part name="parameters" element="tns:SubmitPrequalificationApplication" />
  </message>
  <message name="SubmitPrequalificationApplication_Result">
    <part name="parameters" element="tns:SubmitPrequalificationApplication_Result" />
  </message>
  <message name="SubmitRFQ">
    <part name="parameters" element="tns:SubmitRFQ" />
  </message>
  <message name="SubmitRFQ_Result">
    <part name="parameters" element="tns:SubmitRFQ_Result" />
  </message>
  <message name="UpdateVendorPassword">
    <part name="parameters" element="tns:UpdateVendorPassword" />
  </message>
  <message name="UpdateVendorPassword_Result">
    <part name="parameters" element="tns:UpdateVendorPassword_Result" />
  </message>
  <portType name="VendorsPortal_Port">
    <operation name="AddedCategory">
      <input name="AddedCategory" message="tns:AddedCategory" />
      <output name="AddedCategory_Result" message="tns:AddedCategory_Result" />
    </operation>
    <operation name="CheckExistingRFQ">
      <input name="CheckExistingRFQ" message="tns:CheckExistingRFQ" />
      <output name="CheckExistingRFQ_Result" message="tns:CheckExistingRFQ_Result" />
    </operation>
    <operation name="CheckValidVatNo">
      <input name="CheckValidVatNo" message="tns:CheckValidVatNo" />
      <output name="CheckValidVatNo_Result" message="tns:CheckValidVatNo_Result" />
    </operation>
    <operation name="CheckValidVendorEmail">
      <input name="CheckValidVendorEmail" message="tns:CheckValidVendorEmail" />
      <output name="CheckValidVendorEmail_Result" message="tns:CheckValidVendorEmail_Result" />
    </operation>
    <operation name="CheckValidVendorNo">
      <input name="CheckValidVendorNo" message="tns:CheckValidVendorNo" />
      <output name="CheckValidVendorNo_Result" message="tns:CheckValidVendorNo_Result" />
    </operation>
    <operation name="CheckVendorLogin">
      <input name="CheckVendorLogin" message="tns:CheckVendorLogin" />
      <output name="CheckVendorLogin_Result" message="tns:CheckVendorLogin_Result" />
    </operation>
    <operation name="CheckVendorPasswordChanged">
      <input name="CheckVendorPasswordChanged" message="tns:CheckVendorPasswordChanged" />
      <output name="CheckVendorPasswordChanged_Result" message="tns:CheckVendorPasswordChanged_Result" />
    </operation>
    <operation name="CreatePrequalificationHeader">
      <input name="CreatePrequalificationHeader" message="tns:CreatePrequalificationHeader" />
      <output name="CreatePrequalificationHeader_Result" message="tns:CreatePrequalificationHeader_Result" />
    </operation>
    <operation name="CreatePrequalificationLine">
      <input name="CreatePrequalificationLine" message="tns:CreatePrequalificationLine" />
      <output name="CreatePrequalificationLine_Result" message="tns:CreatePrequalificationLine_Result" />
    </operation>
    <operation name="CreateRFQHeader">
      <input name="CreateRFQHeader" message="tns:CreateRFQHeader" />
      <output name="CreateRFQHeader_Result" message="tns:CreateRFQHeader_Result" />
    </operation>
    <operation name="DocumentAttachment">
      <input name="DocumentAttachment" message="tns:DocumentAttachment" />
      <output name="DocumentAttachment_Result" message="tns:DocumentAttachment_Result" />
    </operation>
    <operation name="FileAttached">
      <input name="FileAttached" message="tns:FileAttached" />
      <output name="FileAttached_Result" message="tns:FileAttached_Result" />
    </operation>
    <operation name="GenerateRFQReport">
      <input name="GenerateRFQReport" message="tns:GenerateRFQReport" />
      <output name="GenerateRFQReport_Result" message="tns:GenerateRFQReport_Result" />
    </operation>
    <operation name="GetAppliedPrequalificationCategories">
      <input name="GetAppliedPrequalificationCategories" message="tns:GetAppliedPrequalificationCategories" />
      <output name="GetAppliedPrequalificationCategories_Result" message="tns:GetAppliedPrequalificationCategories_Result" />
    </operation>
    <operation name="GetCategoryName">
      <input name="GetCategoryName" message="tns:GetCategoryName" />
      <output name="GetCategoryName_Result" message="tns:GetCategoryName_Result" />
    </operation>
    <operation name="GetCategoryRequirements">
      <input name="GetCategoryRequirements" message="tns:GetCategoryRequirements" />
      <output name="GetCategoryRequirements_Result" message="tns:GetCategoryRequirements_Result" />
    </operation>
    <operation name="GetCurrentPrequalificationPeriod">
      <input name="GetCurrentPrequalificationPeriod" message="tns:GetCurrentPrequalificationPeriod" />
      <output name="GetCurrentPrequalificationPeriod_Result" message="tns:GetCurrentPrequalificationPeriod_Result" />
    </operation>
    <operation name="GetLastPrnNo">
      <input name="GetLastPrnNo" message="tns:GetLastPrnNo" />
      <output name="GetLastPrnNo_Result" message="tns:GetLastPrnNo_Result" />
    </operation>
    <operation name="GetMyQuoteLines">
      <input name="GetMyQuoteLines" message="tns:GetMyQuoteLines" />
      <output name="GetMyQuoteLines_Result" message="tns:GetMyQuoteLines_Result" />
    </operation>
    <operation name="GetMyQuotes">
      <input name="GetMyQuotes" message="tns:GetMyQuotes" />
      <output name="GetMyQuotes_Result" message="tns:GetMyQuotes_Result" />
    </operation>
    <operation name="GetOpenTenderLines">
      <input name="GetOpenTenderLines" message="tns:GetOpenTenderLines" />
      <output name="GetOpenTenderLines_Result" message="tns:GetOpenTenderLines_Result" />
    </operation>
    <operation name="GetOpenVendorTenders">
      <input name="GetOpenVendorTenders" message="tns:GetOpenVendorTenders" />
      <output name="GetOpenVendorTenders_Result" message="tns:GetOpenVendorTenders_Result" />
    </operation>
    <operation name="GetPrequalificationApplicationCategories">
      <input name="GetPrequalificationApplicationCategories" message="tns:GetPrequalificationApplicationCategories" />
      <output name="GetPrequalificationApplicationCategories_Result" message="tns:GetPrequalificationApplicationCategories_Result" />
    </operation>
    <operation name="GetPrequalificationApplications">
      <input name="GetPrequalificationApplications" message="tns:GetPrequalificationApplications" />
      <output name="GetPrequalificationApplications_Result" message="tns:GetPrequalificationApplications_Result" />
    </operation>
    <operation name="GetPrequalificationCategories">
      <input name="GetPrequalificationCategories" message="tns:GetPrequalificationCategories" />
      <output name="GetPrequalificationCategories_Result" message="tns:GetPrequalificationCategories_Result" />
    </operation>
    <operation name="GetUnappliedPrequalificationCategories">
      <input name="GetUnappliedPrequalificationCategories" message="tns:GetUnappliedPrequalificationCategories" />
      <output name="GetUnappliedPrequalificationCategories_Result" message="tns:GetUnappliedPrequalificationCategories_Result" />
    </operation>
    <operation name="GetVendorDetails">
      <input name="GetVendorDetails" message="tns:GetVendorDetails" />
      <output name="GetVendorDetails_Result" message="tns:GetVendorDetails_Result" />
    </operation>
    <operation name="GetVendorName">
      <input name="GetVendorName" message="tns:GetVendorName" />
      <output name="GetVendorName_Result" message="tns:GetVendorName_Result" />
    </operation>
    <operation name="InsertRFQLines">
      <input name="InsertRFQLines" message="tns:InsertRFQLines" />
      <output name="InsertRFQLines_Result" message="tns:InsertRFQLines_Result" />
    </operation>
    <operation name="LoginForChangedPassword">
      <input name="LoginForChangedPassword" message="tns:LoginForChangedPassword" />
      <output name="LoginForChangedPassword_Result" message="tns:LoginForChangedPassword_Result" />
    </operation>
    <operation name="LoginForUnchangedPassword">
      <input name="LoginForUnchangedPassword" message="tns:LoginForUnchangedPassword" />
      <output name="LoginForUnchangedPassword_Result" message="tns:LoginForUnchangedPassword_Result" />
    </operation>
    <operation name="NotAllMandatoryDocumentsAttached">
      <input name="NotAllMandatoryDocumentsAttached" message="tns:NotAllMandatoryDocumentsAttached" />
      <output name="NotAllMandatoryDocumentsAttached_Result" message="tns:NotAllMandatoryDocumentsAttached_Result" />
    </operation>
    <operation name="PrequalificationApplied">
      <input name="PrequalificationApplied" message="tns:PrequalificationApplied" />
      <output name="PrequalificationApplied_Result" message="tns:PrequalificationApplied_Result" />
    </operation>
    <operation name="RFQApplied">
      <input name="RFQApplied" message="tns:RFQApplied" />
      <output name="RFQApplied_Result" message="tns:RFQApplied_Result" />
    </operation>
    <operation name="SubmitPrequalificationApplication">
      <input name="SubmitPrequalificationApplication" message="tns:SubmitPrequalificationApplication" />
      <output name="SubmitPrequalificationApplication_Result" message="tns:SubmitPrequalificationApplication_Result" />
    </operation>
    <operation name="SubmitRFQ">
      <input name="SubmitRFQ" message="tns:SubmitRFQ" />
      <output name="SubmitRFQ_Result" message="tns:SubmitRFQ_Result" />
    </operation>
    <operation name="UpdateVendorPassword">
      <input name="UpdateVendorPassword" message="tns:UpdateVendorPassword" />
      <output name="UpdateVendorPassword_Result" message="tns:UpdateVendorPassword_Result" />
    </operation>
  </portType>
  <binding name="VendorsPortal_Binding" type="tns:VendorsPortal_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="AddedCategory">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:AddedCategory" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="AddedCategory">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="AddedCategory_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckExistingRFQ">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:CheckExistingRFQ" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckExistingRFQ">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckExistingRFQ_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckValidVatNo">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:CheckValidVatNo" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckValidVatNo">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckValidVatNo_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckValidVendorEmail">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:CheckValidVendorEmail" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckValidVendorEmail">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckValidVendorEmail_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckValidVendorNo">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:CheckValidVendorNo" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckValidVendorNo">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckValidVendorNo_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckVendorLogin">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:CheckVendorLogin" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckVendorLogin">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckVendorLogin_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckVendorPasswordChanged">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:CheckVendorPasswordChanged" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckVendorPasswordChanged">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckVendorPasswordChanged_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreatePrequalificationHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:CreatePrequalificationHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreatePrequalificationHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreatePrequalificationHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreatePrequalificationLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:CreatePrequalificationLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreatePrequalificationLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreatePrequalificationLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateRFQHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:CreateRFQHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateRFQHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateRFQHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DocumentAttachment">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:DocumentAttachment" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DocumentAttachment">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DocumentAttachment_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FileAttached">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:FileAttached" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FileAttached">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FileAttached_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GenerateRFQReport">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GenerateRFQReport" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GenerateRFQReport">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GenerateRFQReport_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetAppliedPrequalificationCategories">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetAppliedPrequalificationCategories" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetAppliedPrequalificationCategories">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetAppliedPrequalificationCategories_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetCategoryName">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetCategoryName" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetCategoryName">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetCategoryName_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetCategoryRequirements">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetCategoryRequirements" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetCategoryRequirements">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetCategoryRequirements_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetCurrentPrequalificationPeriod">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetCurrentPrequalificationPeriod" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetCurrentPrequalificationPeriod">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetCurrentPrequalificationPeriod_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetLastPrnNo">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetLastPrnNo" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetLastPrnNo">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetLastPrnNo_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetMyQuoteLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetMyQuoteLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetMyQuoteLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetMyQuoteLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetMyQuotes">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetMyQuotes" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetMyQuotes">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetMyQuotes_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetOpenTenderLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetOpenTenderLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetOpenTenderLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetOpenTenderLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetOpenVendorTenders">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetOpenVendorTenders" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetOpenVendorTenders">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetOpenVendorTenders_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPrequalificationApplicationCategories">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetPrequalificationApplicationCategories" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPrequalificationApplicationCategories">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPrequalificationApplicationCategories_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPrequalificationApplications">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetPrequalificationApplications" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPrequalificationApplications">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPrequalificationApplications_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPrequalificationCategories">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetPrequalificationCategories" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPrequalificationCategories">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPrequalificationCategories_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetUnappliedPrequalificationCategories">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetUnappliedPrequalificationCategories" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetUnappliedPrequalificationCategories">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetUnappliedPrequalificationCategories_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetVendorDetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetVendorDetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetVendorDetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetVendorDetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetVendorName">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:GetVendorName" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetVendorName">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetVendorName_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="InsertRFQLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:InsertRFQLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="InsertRFQLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="InsertRFQLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="LoginForChangedPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:LoginForChangedPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LoginForChangedPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LoginForChangedPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="LoginForUnchangedPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:LoginForUnchangedPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LoginForUnchangedPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LoginForUnchangedPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="NotAllMandatoryDocumentsAttached">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:NotAllMandatoryDocumentsAttached" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="NotAllMandatoryDocumentsAttached">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="NotAllMandatoryDocumentsAttached_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="PrequalificationApplied">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:PrequalificationApplied" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="PrequalificationApplied">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="PrequalificationApplied_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="RFQApplied">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:RFQApplied" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="RFQApplied">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="RFQApplied_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SubmitPrequalificationApplication">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:SubmitPrequalificationApplication" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SubmitPrequalificationApplication">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SubmitPrequalificationApplication_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SubmitRFQ">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:SubmitRFQ" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SubmitRFQ">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SubmitRFQ_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateVendorPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/VendorsPortal:UpdateVendorPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateVendorPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateVendorPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="VendorsPortal">
    <port name="VendorsPortal_Port" binding="tns:VendorsPortal_Binding">
      <address location="http://102.210.149.230:7047/Ncia/WS/NCIA/Codeunit/VendorsPortal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>